.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.DirectoryPicker {
  padding: 5px;
  border-bottom: 1px solid white;
}
input.DirectoryInput {
  display: none;
}
.DirectoryInput-label:hover {
  cursor: pointer;
  text-decoration: underline;
}
.DirectoryDisplay > button {
  float: right;
}
.Dropzone {
  flex: 1;
  border: 5px;
  border-style: outset;
  border-color: aqua;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
